{{define "title"}}Event{{end}} <!--Da cambiare-->

{{define "main"}}
<div class="event-header">
     <h2>{{.Event.Name}}</h2>
     <div><a href="/events/update/{{.Event.ID}}">Modifica</a></div>
</div>
<div class="event-header">
    <h4>{{with .Event.Date}}{{DayWords .}}{{else}}Nessuna data{{end}}</h4>
    <div><a href="/events/download/{{.Event.ID}}" download="{{.Event.Name}}.zip">Download all photos</a></div>
</div>
<div class="photo-grid">
    {{if gt (len .Photos) 0}}
    {{range .Photos}}
        <a href="/photos/view/{{.FileName}}" style="display: contents;">
            <img src="/storage/thumbnails/{{$.Event.ID}}/{{.ThumbName}}" alt="immagine super wow"
                class="photo-grid-item photo" oncontextmenu="toggleSelected(this, {{.FileName}}); return false;" />
        </a>
    {{end}}
    {{end}}
</div>
<div class="selectedButtons">
    <button type="button" id="downloadButton" class="hidden" onclick="downloadSelected({{.Event.ID}}, {{.CSRFToken}})">Download selected</button>
    {{if $.IsAdmin}}
    <button type="button" id="delButton" class="hidden" onclick="deleteSelected({{.Event.ID}}, {{.CSRFToken}})">Delete selected</button>
    {{end}}
</div>
{{end}}
