{{define "title"}}Home{{end}}

{{define "main"}}
    <h2>Photos</h2>
    <div class="event-list">
        {{range $e := .Events}}
            {{$photos := index $.PhotosByEvent $e.ID}}
            {{if gt (len $photos) 0}}
                <details open="">
                <summary class="event-name">{{$e.Name}}<a href="/events/view/{{$e.Name}}" class="event-link">Altre foto ></a></summary>
                <div class="content photo-flex">
                {{range $photos}}
                    <!-- Have to check for null event, /storage should not be hardcoded-->
                    <a href="/photos/{{.FileName}}" style="display: contents;">
                    <img src="/storage/thumbnails/{{$e.Name}}/{{.FileName}}" alt="immagine super wow" class="photo"/>
                    </a>
                {{end}}
                </div>
                </details>
            {{end}}
        {{end}}
    </div>
{{end}}

