{{define "title"}}Home{{end}}

{{define "main"}}
<h2>Photos</h2>
<div class="event-list">
    {{range $e := .Events}}
    {{$photos := index $.PhotosByEvent $e.ID}}
    {{if gt (len $photos) 0}}
    <details open="">
        <summary class="event-name">{{$e.Name}}{{with .Event.Date}} [{{Day .}}{{end}}]<a href="/events/view/{{$e.Name}}"
                class="event-link">Altre foto ></a></summary>
        <div class="content photo-flex">
            {{range $photos}}
            <a href="/photos/view/{{.FileName}}" style="display: contents;">
                <img src="/storage/thumbnails/{{$e.Name}}/{{.ThumbName}}" alt="immagine super wow"
                    class="photo-flex-item photo" />
            </a>
            {{end}}
        </div>
    </details>
    {{end}}
    {{end}}
</div>
{{end}}
