{{if gt (len .Photos) 0}}
{{range .Photos}}
<a href="/photos/view/{{.FileName}}" style="display: contents;">
    <img src="/storage/thumbnails/{{$.Event.Name}}/{{.ThumbName}}" alt="immagine super wow"
        class="photo-grid-item photo" oncontextmenu="toggleDeleting(this, {{.FileName}}); return false;"/>
</a>
{{end}}
{{if lt .Metadata.CurrentPage .Metadata.LastPage}}
<div hx-swap="outerHTML" hx-get="/photoList?event={{.Event.ID}}&page={{Add .Metadata.CurrentPage 1}}"
    hx-trigger="intersect">...</div> <!-- htmx -->
{{end}}
{{end}}
