<!--null event?-->
{{if gt (len .Photos) 0}}
    {{range .Photos}}
        <!-- /storage should not be hardcoded-->
        <a href="/photos/{{.FileName}}" style="display: contents;">
        <img src="/storage/thumbnails/{{if .Event}}{{$.Event.Name}}/{{end}}{{.FileName}}" alt="immagine super wow" class="photo"/>
        </a>
    {{end}}
    {{if lt .Metadata.CurrentPage .Metadata.LastPage}}
    <div hx-swap="outerHTML" hx-get="/photoList?event={{.Event.ID}}&page={{Add .Metadata.CurrentPage 1}}" hx-trigger="intersect">...</div> <!-- htmx -->
    {{end}}
{{end}}
