{{define "nav"}}
<nav>
    <div>
        <a href='/'>Home</a>
         {{if .IsAdmin}}
            <a href='/photos/upload'>Upload photos</a>
            <a href='/events/create'>Create event</a>
            <a href='/events/delete'>Delete event</a>
        {{end}}
    </div>
    <div>
        {{if .IsAuthenticated}}
             {{if .IsAdmin}}
                <a href='/user/create'>Create user</a>
            {{end}}
            <form action='/user/logout' method='POST'>
                <!-- Include the CSRF token -->
                <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
                <button>Logout</button>
            </form>
        {{end}}
    </div>
</nav>
{{end}}

