@import "loadingWheel.css";

body {
    max-width: 80%;
}

nav {
    height: 3em;    
}

nav a {
    margin-right: 1.5em;
    display: inline-block;
}

nav div {
    width: 50%;
    float: left;
}

nav div:last-child {
    text-align: right;
}

nav div:last-child a,form {
    margin-left: 1.5em;
    margin-right: 0;
    display: inline;
}

nav a.live {
    color: var(--text-main);
    cursor: default;
}

nav a.live:hover {
    text-decoration: none;
}

.photo-flex {
    display: flex;
    flex-direction: row;
    flex-wrap:  nowrap;
    padding-top: 10px;
    padding-bottom: 15px;
    gap: 15px;
    overflow: auto;
}

.photo {
  display: inline-grid;
  box-shadow: 0 4px 8px 4px rgba(0,0,0,0.2);
  border-radius: 20px;
  flex-basis:   auto;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
}

.photo.selected {
  border-color: revert;
}

.photo:hover {
  box-shadow: 0 8px 16px 4px rgba(0,0,0,0.4);
  -webkit-transform: scale(1.02);
    transform: scale(1.02);
  transition: all 0.2s ease-in-out;
  will-change: transform;
}

.photo-flex-item {
  max-height: 30vh;
}

.photo-grid-item {
  max-height: 20vh;
  max-width: 40vw;
  object-fit: cover;
  flex-grow: 1;
}

summary:focus, summary:hover {
  text-decoration: none;
}

.event-link {
    padding: inherit;
}

#event-header {
    display: flex;
    align-items: center;
}
#dwl-event {
    margin-top:12px;
    margin-left: auto;
}

.photo-grid {
    display: flex;
    flex-wrap:  wrap;
    flex-direction: row;
    gap: 10px;
    /*justify-content: center; /*non so se e' meglio cosi o altro*/
}

.photo-map-info-grid {
    display: grid;
    grid-template-columns: 60vw 20vw;
    grid-template-rows: 75vh 15vh;
    gap: 20px;
}

#FullPhoto {
    max-height: 70vh;
    align-self: center;
    justify-self: center;
    border-radius: 5px;
}

.photoInfo {
    display: grid;
    text-align: center;
    text-justify: center;
    gap: 20px;
    background: #00000040;
    border-radius: 20px;
    padding: 10px;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin-top: 10px;
    margin-left: 2%;
}

.prevNext {
    white-space: nowrap;
}

.prevNext div {
    display: inline-block;
}

.prevNext .next-photo {
    float: right;
}

.hidden {
    display: none;
}

.selectedButtons {
	position:fixed;
	bottom:40px;
	right:40px;
}

#downloadButton,#delButton {
    text-align:center;
    box-shadow: 2px 2px 3px #00000099;
}

.map-stuff {
    grid-column: 2;
    grid-row: 1;
    height: 50%;
    width: 90%;
    align-self: center;
    justify-self: center; 
}

#map {
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

/*Estensione video speed*/
.vsc-controller {
    position: absolute;
}

@media (hover: none) or (pointer: coarse) { 
    body {
        max-width: 100% !important;
    }

    .photo-grid {
        justify-content: center;
    }

    .photo-grid-item {
      max-height: 30vh;
      max-width: 90vw;
      object-fit: cover;
      flex-grow: 1;
    }
    
    .photo-map-info-grid {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    #map {
        height: 90vw;
        width: 100%;
        margin: 0;
    }
 
    h2 {
        margin-top: 50px;
    }
}
